<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>
<div style='float: right; '><a th:href="@{/logout}">LOGOUT</a></div>
<h1>Add new User</h1>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <input required type="text" th:field="${user.name}" id="name"/>
  <label for="name">Enter name: </label>
  <br>
  <input type="text" th:field="${user.lastName}" id="lastName"/>
  <label for="lastName">Enter last name: </label>
  <br>
  <input type="text" th:field="${user.email}" id="e-mail"/>
  <label for="e-mail">Enter e-mail: </label>
  <br>
  <input type="text" th:field="${user.username}" id="username"/>
  <label for="username">Enter username: </label>
  <br>
  <input type="text" th:field="${user.password}" id="password"/>
  <label for="password">Enter password: </label>
  <br>
  <select id="roles" th:field="*{roles}" size="3" multiple="multiple">
    <option th:each="role : ${roles}"
            th:value="${role.getId()}"
            th:text="${role.roleName}"></option>
  </select>
  <label for="roles">Choose role(s) for user</label>
  <br>
  <input type="submit" value="ADD USER"/>
</form>
</body>
</html>